<div class="centered-text">
	<h1>Browse Contests</h1>
</div>

<% @contests.each do |contest| %>
	<%= link_to contest do %>
		<%= content_tag :div, class: "contest animated rounded inner-shadow" do %>
			<%= content_tag :h3, class: "animated" do %>
				<%= contest.name %>
			<% end %>
			<br><br>
			<%= content_tag(:iframe, "", :src => embed_video(contest), :class => "shadow", :style => "width: 263px; height: 197px;") %>
		<% end %>
	<% end %>
<% end %>