<div class="participation-modal"></div>
<div class="participation-overlay">
	<button class="close">&times;</button>
	<iframe></iframe>
	<div class="ratings-control go-left">
		<%= link_to "", contest_ratings_path(@contest), :remote => true %>
	</div>
	<div class="ratings-control go-right">
		<%= link_to "", contest_ratings_path(@contest), :remote => true %>
	</div>
</div>
<div class="container" style="padding-top: 40px;">
	<div class="row">
		<div class="span12">			
			<% if @is_owner == true %>
				<div id="edit"><%= link_to "<i class='icon-pencil icon-white'></i>".html_safe, edit_contest_path(@contest), title: "Edit prompt" %></div>
			<% end %>
			
			<div class="row" style="position: relative;">
				<div class="span6">
					<div class="featured">
						<%= content_tag(:iframe, "", :src => embed_video(@contest), :style => "width: 420px; height: 315px;") %>
						<div class="featured-stand"></div>
						<div class="featured-counter"><h2 class="white">End date: <%= @contest.ending %></h2></div>
					</div>
				</div>
				<div class="span6 featured-wrap">
					<div class="featured-desc">
						<div class="centered-text">
							<h1><%= @contest.name %></h1>
						</div>
						<%= simple_format(@contest.desc) %>
						<hr class="white">
						<div class="centered-text">
							<% if @is_owner == false %>
								<% if @has_submitted == false %>
									<%= link_to "Apply", new_contest_participation_path(@contest), class: "button" %>
								<% else %>
									<%= link_to "View submission", contest_participation_path(@contest, @curr_user_submission), class: "button" %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span12">
			<br>
			<h1>Submissions</h1>
			<% @submissions.each do |submission| %>
				<%= content_tag :div, class: "submission animated" do %>
					<div><%= submission.submitter %><span class="dot">&middot;</span><%= submission.score %> point(s)</div>
					<%= content_tag :div, "", class: "follow", :id => "c-" + @contest.id.to_s + "_" + submission.id.to_s %>
					<% if current_user != nil && current_user.id == submission.user_id %>
						<%= link_to contest_participation_path(@contest, submission), method: :delete, confirm: "Are you sure you want to your application to this contest?" do %>
							<%= content_tag :button, class: "close animated", type: "button" do %>
								&times;
							<% end %>
						<% end %>
					<% end %>
					<%= content_tag(:iframe, "", :src => embed_video(submission), :class => "shadow", :id => "v-" + @contest.id.to_s + "_" + submission.id.to_s, :style => "float: left; width: 263px; height: 197px;") %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>