<div class="container" style="padding-bottom: 50px;">
	<div class="row">
		<div class="span12 splash">	
			<div class="row">
				<div class="span12">
					<h1>Watch. Judge. Vote.</h1>
				</div>
			</div>
			<div class="row" style="position: relative;">
				<div class="shaded-row">
				</div>
				<div class="span6">
						<div class="featured">
							<%= content_tag(:iframe, "", :src => @featured_video, :showinfo => "0", :style => "width: 420px; height: 315px;") %>
							<div class="featured-stand"></div>
							<div class="featured-counter"><h2 class="white">End date: <%= @featured.ending %></h2></div>
						</div>
				</div>
				<div class="span6" style="margin-left: 0px;">
					<div class="featured-desc">
						<div class="centered-text">
							<h1><%= @featured.name %></h1>
						</div>
						<%= simple_format(@featured_text) %>
						<hr class="white">
						<div class="centered-text">
							<%= link_to "Go to contest &rarr;".html_safe, @featured, class: "button"  %>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 90px;">
				<div class="span12">
					<div class="climbers shadow">
						<div class="span4" style="margin-left: -20px;">
							<%= image_tag "climbers.png", class: "border shadow" %>
						</div>
						<div class="span2">
							<div class="featured-submission">
								<%= link_to "", [@featured, @sub1], class: "follow" %>
								<%= content_tag(:iframe, "", :src => embed_video(@sub1), :style => "width: 133px; height: 100px;") %>
								<h2 class="white"><%= @sub1.score %> point(s)</h2>
							</div>
						</div>
						<div class="span2">
							<div class="featured-submission">
								<%= link_to "", [@featured, @sub2], class: "follow" %>
								<%= content_tag(:iframe, "", :src => embed_video(@sub2), :style => "width: 133px; height: 100px;") %>
								<h2 class="white"><%= @sub2.score %> point(s)</h2>
							</div>
						</div>
						<div class="span2">
							<div class="featured-submission">
								<%= link_to "", [@featured, @sub3], class: "follow" %>
								<%= content_tag(:iframe, "", :src => embed_video(@sub3), :style => "width: 133px; height: 100px;") %>
								<h2 class="white"><%= @sub3.score %> point(s)</h2>
							</div>
						</div>
						<div class="span2" style="padding-top: 35px; text-align: right;">
							<%= link_to "See all &rarr;".html_safe, @featured, class: "white" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<div class="padded-sides padded-up-down">
				<div class="centered-text">
					<h1>About Avalanche</h1>
				</div>
				<div class="largetext">
					<p>At Avalanche, we curate contests to help get your talent recognized and connected with incredible opportunities. From casting contests for TV roles to startup pitch contests for a meeting with a premier investor, Avalanche uses the <a href="http://en.wikipedia.org/wiki/The_Wisdom_of_Crowds">wisdom of crowds</a> to find the diamonds in the rough. Find a prompt you love and join the Avalanche!</p>
					<hr>
					<h2>Partners</h2>
					<!-- partner logos go here to build trust -->
				</div>
			</div>
		</div>
		<div class="span5">
			<div class="padded-up-down">
				<div class="centered-text">
					<h1>Sign up</h1>
					<p></p>
				</div>
				<div class="centered-inputs">
					
					<%= form_for @user do |f| %>
						<p>
							<%= f.text_field :name, placeholder: "Full name" %>
						</p>
						<p>
							<%= f.text_field :email, placeholder: "Email" %>
						</p>				
						<p>
							<%= f.password_field :password, placeholder: "Password" %>
						</p>
						<p>
							<%= f.password_field :password_confirmation, placeholder: "Confirm password" %>
						</p>
						<p class="button"><%= f.submit "Create account" %></p>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>