<!DOCTYPE html>
<html>
<head>
	<title>Avalanche.io</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans|Galdeano' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render "shared/header" %>
	<div class="main">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="inner">
						<!-- alert or notices -->
						<div class="centered-600">
						<% flash.each do |name, msg| %>
							<%= content_tag :div, msg, :id => "flash_#{name}", class: "alert alert-info centered-text" %>
						<% end %>
						<!-- end alert or notices -->
						</div>
						<%= yield %>					
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render "shared/footer" %>

</body>
</html>
